<div class="main">

  <div class="container-fluid col-md-9 main-conteiner">

        <div class="row col-lg-9">
          <h1 class="page-header">Shop</h1>
          <%= render 'books/body'%>

        </div>

  </div>

  <%= render 'categories/sidebar'%>
</div>


